@import '~/_variables.sass'

.bar-chart__row-bg
	fill: #F5F5F5

	.bar-chart__row:hover > &
		fill: #EEE

.bar-chart__row-label
	font-family: $font-family-mono
	font-size: 1.2rem
	line-height: 2rem
	text-anchor: end

.bar-chart__bar--democrats
	fill: $color-democrat

.bar-chart__bar--republicans
	fill: $color-republican
