.hashtag-list__title {
	font-size: 3rem;
	margin: 0;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #E5E5E5;
	color: #222;
}

.hashtag-list__title-highlight--democrat {
	color: #08C;
}

.hashtag-list__title-highlight--republican {
	color: #C53;
}

.hashtag-list__list {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 3rem;
	padding: 0;
}

.hashtag-list__list-item {
	margin-bottom: 0.5rem;
	color: #999;
}

.hashtag-list__hashtag {
	font-weight: bold;
	color: #222;
	margin-right: 0.5em;
}

.hashtag-list__count {
	color: #999;
}
