.hashtag-list__title
	font-size: 3rem
	margin: 0 0 0.5rem 0
	padding: 1rem 0.5rem 1rem 0.5rem
	color: #222
	border-bottom: 2px solid #222

.hashtag-list__title-highlight--democrat
	color: #08C

.hashtag-list__title-highlight--republican
	color: #C53

.hashtag-list__list
	font-size: 1.75rem
	margin: 0
	padding: 0
	list-style-type: none

.hashtag-list__list-item
	padding: 0.75rem 0.5rem
	cursor: pointer
	&:hover
		background-color: rgba(#000, 0.05)

.hashtag-list__hashtag
	font-weight: bold
	color: #222
	margin-right: 0.5em

.hashtag-list__count
	color: #999

.hashtag-list__loading-tag
	display: inline-block

.hashtag-list__loading-count
	display: inline-block
	width: 10%
	margin-left: 2%
