@import '~/_variables.sass'
@import '~/_mixins.sass'

.tweet
	font-size: 1.4rem
	line-height: 1.8rem
	margin-bottom: 1rem
	padding: 1rem
	background-color: #FFF
	border-left: 4px solid #000
	+category-variations(border-left-color)

.tweet__user
	margin-bottom: 0.5rem

.tweet__user-name
	color: #222
	font-weight: bold

.tweet__user-handle
	color: #888

.tweet__text
	margin-bottom: 0.5rem

.tweet__footer
	display: flex
	justify-content: space-between

.tweet__date
	color: #888

.tweet__link-original
	font-size: 1.2rem

.tweet__link-original, .tweet__link
	color: $color-link
	text-decoration: none
	&:hover
		color: $color-link-hover
		text-decoration: underline
