@import '~/_variables.sass'

.tweet
	font-size: 1.4rem
	line-height: 1.8rem
	margin-bottom: 1rem
	border: 1px solid #CCC
	border-radius: 4px
	padding: 1rem

.tweet--democrats
	border-left: 4px solid $color-democrat

.tweet--republicans
	border-left: 4px solid $color-republican

.tweet__user
	margin-bottom: 0.5rem

.tweet__user-name
	color: #222
	font-weight: bold

.tweet__user-handle
	color: #888


.tweet__footer
	color: #888
